<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}
	
<!-- Yeah i know js should not be in header. Its required for demos.-->

<!-- javascript -->
{{> javascripts }}

</head>
<body>
<!-- header -->
{{> header }}

<!-- title -->
{{> title }}
<div id="docs">
	<div class="row">
		<div class="small-12 medium-3 large-3 columns">
			{{> sidenav-docs }}
		</div>
		<div class="small-12 medium-9 large-9 columns">
			<article class="docs-content">
				{{> body }}
			</article>
		</div>
	</div>
</div>

<!-- footer -->
{{> footer }}

<!-- vendors -->
{{> vendors }}
	</body>
</html>