.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.settings/org.eclipse.php.core.prefs

.project

.buildpath

.gitignore

.gitignore
