<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    cacheTokens="true"
    verbose="false"
    bootstrap="application/tests/bootstrap.php">
    <testsuites>
        <testsuite name="Welcome Test Suite">
            <directory>./application/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./system/</directory>
        </whitelist>
    </filter>
</phpunit>