---
title: Test
subTitle: Test
nav: test
description: Generic layout only for testing

categories:
- test

---

<div class="owl-carousel owl-theme">
	<div class="item"><h4>1</h4></div>
	<div class="item"><h4>2</h4></div>
	<div class="item"><h4>3</h4></div>
	<div class="item"><h4>4</h4></div>
	<div class="item"><h4>5</h4></div>
	<div class="item"><h4>6</h4></div>
</div>


<script>
$(document).ready(function(){
	var owl = $('.owl-carousel');

	owl.owlCarousel({
		loop:true,
		margin:10,
		navRewind:false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:3
			},
			1000:{
				items:5
			}
		}
	})
})
</script>