<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="CodeIgniter Core Test Suite">
			<directory suffix="test.php">./codeigniter/core</directory>
			<directory suffix="test.php">./codeigniter/helpers</directory>
			<directory suffix="test.php">./codeigniter/libraries</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../system/</directory>
		</whitelist>
	</filter>
</phpunit>
