<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="./Bootstrap.php"
	colors="false"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="true"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="true">
	<testsuites>
		<testsuite name="CodeIgniter Core Test Suite">
			<directory suffix="test.php">./codeigniter/core</directory>
			<directory suffix="test.php">./codeigniter/helpers</directory>
			<directory suffix="test.php">./codeigniter/libraries</directory>
		</testsuite>
        <testsuite name="CodeIgniter Application Test Suite">
            <directory suffix="test.php">./application/controllers</directory>
            <directory suffix="test.php">./application/core</directory>
            <directory suffix="test.php">./application/helpers</directory>
            <directory suffix="test.php">./application/libraries</directory>
            <directory suffix="test.php">./application/models</directory>
        </testsuite>
    </testsuites>
	<filter>
		<blacklist>
			<directory suffix=".php">PEAR_INSTALL_DIR</directory>
			<directory suffix=".php">PHP_LIBDIR</directory>
			<directory suffix=".php">../vendor</directory>
		</blacklist>
	</filter>
</phpunit>