<footer class="footer">
	<div class="row">
		<div class="large-12 columns">
			<h5>
				<a href="/OwlCarousel2/docs/support-contact.html">{{ pkg.author.name }}</a>
				<a id="custom-tweet-button" href="https://twitter.com/share?url=https://github.com/OwlCarousel2/OwlCarousel2&text={{ app.title }} - This is so awesome! " target="_blank"></a>
			</h5>
		</div>
	</div>
</footer>
