<header class="header">
	<div class="row">
		<div class="large-12 columns">
			<div class="brand left">
				<h3><a href="/OwlCarousel2/">owl.carousel.js</a></h3>
			</div>
			<a id="toggle-nav" class="right">
				<span></span><span></span><span></span>
			</a>
			<div class="nav-bar">
				<ul class="clearfix">
					<li{{#is nav "home"}} class="active"{{/is}}>
						<a href="/OwlCarousel2/index.html">Home</a>
					</li>
					<li{{#is nav "demos"}} class="active"{{/is}}>
						<a href="/OwlCarousel2/demos/demos.html">Demos</a>
					</li>
					<li{{#is nav "docs"}} class="active"{{/is}}>
						<a href="/OwlCarousel2/docs/started-welcome.html">Docs</a>
					</li>
					<li>
						<a href="https://github.com/OwlCarousel2/OwlCarousel2/archive/{{ pkg.version }}.zip">Download</a>
						<span class="download"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
