<div id="features">
	<div class="row">
		<div class="small-12 medium-9 small-centered columns">
			{{#each features}}
			<section class="row feature">
				<div class="medium-4 small-12 columns">
					<img src="{{../assets}}/img/{{image}}" alt="">
				</div>
				<div class="medium-8 small-12 columns">
					<h2>{{title}}</h2>
					<p>{{subtitle}}</p>
				</div>
			</section>
			{{/each}}
		</div>
	</div>
</div>