

<section id="teaser-text">
	<div class="row">
		<div class="small-12 medium-11 small-centered columns">
{{#markdown }}

-----

### Owl Carousel has been choosen as number one jQuery plugin by hundreds of developers. Now its time for a new version that comes with lots of new features and even more user friendly API. 

Watch this space- we'll be launching soon :)


{{/markdown }}
		</div>
	</div>
</section>

