
<div class="home-demo">
	<div class="row">
		<div class="large-12 columns">
			<h3>Demo</h3>
			<div class="owl-carousel">
				<div class="item"><h2>Swipe</h2></div>
				<div class="item"><h2>Drag</h2></div>
				<div class="item"><h2>Responsive</h2></div>
				<div class="item"><h2>CSS3</h2></div>
				<div class="item"><h2>Fast</h2></div>
				<div class="item"><h2>Easy</h2></div>
				<div class="item"><h2>Free</h2></div>
				<div class="item"><h2>Upgradable</h2></div>
				<div class="item"><h2>Tons of options</h2></div>
				<div class="item"><h2>Infinity</h2></div>
				<div class="item"><h2>Auto Width</h2></div>
			</div>
		</div>
	</div>
</div>

<script>
	var owl = $('.owl-carousel');

	owl.owlCarousel({
		margin:10,
		loop:true,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			1000:{
				items:3
			}
		}
	})

</script>