body {
    background-color: white;
    background-color: var(--background-color);
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  
  main {
    animation: fadeInMain 0.5s linear;
  }
  
  @keyframes fadeInMain {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }