@media screen and (min-width: 375px) and (max-width: 667px) {
    .navigation {
      padding: 0 20px;
      margin-bottom: 0;
    }
    .navigation input,
    .navigation .fa-search {
      display: none;
    }
    #feed .photo {
      background-color: transparent;
      border: 0;
      margin-bottom: 20px;
    }
    #feed .photo .photo__add-comment-container {
      display: none;
    }
    .footer {
      width: 80%;
    }
    .footer,
    .footer .footer__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer__list .footer__list-item {
      margin-bottom: 10px;
    }
    #login .login__column {
      width: 100%;
    }
    #login .login__column:first-child {
      display: none;
    }
    #login .login__box {
      background-color: transparent;
      border: 0;
    }
    #profile {
      margin-top: 50px;
    }
    #profile .profile__header {
      flex-direction: column;
      align-items: center;
    }
    #profile .profile__title {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .profile__title h3 {
      margin: 20px 0;
    }
    .profile__title a {
      margin-right: auto;
    }
    .profile__stats {
      justify-content: space-between;
    }
    .profile__stats .profile__stat {
      text-align: center;
      margin-right: 0;
    }
    .profile__stat span {
      display: block;
    }
    .profile__photos .profile__photo {
      width: 33%;
      margin-bottom: 0;
    }
    .profile__photos {
      margin-bottom: 50px;
    }
    #explore .explore__users {
      background-color: transparent;
      border: 0;
    }
    .explore__users .explore__user {
      border: 0;
    }
    #edit-profile > .edit-profile__container {
      border: 0;
    }
    #edit-profile .form__row {
      flex-direction: column;
    }
    .form__row .form__label {
      margin: 0;
      text-align: center;
      margin-bottom: 10px;
    }
    #edit-profile input[type="submit"] {
      width: 120px;
      margin: 0;
      margin-top: 20px;
    }
    #edit-profile .edit-profile__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #edit-profile .edit-profile__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .edit-profile__header .edit-profile__avatar-container {
      width: 0;
    }
  }