# http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{*.md,*.scss,*.css,*.php,*.yml,package.json}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
